@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-backdrop{
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}

.input-with-placeholder {
    /* width: 250px; */
    position: relative;
  }
  .input-with-placeholder label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 300ms all;
    @apply text-neutral-content;
  }
  .input-with-placeholder input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
  }
  .input-with-placeholder input:valid + label, .input-with-placeholder input:focus + label {
    height: 40%;
    opacity: 0.4;
    padding-left: 0;
    transform: translateY(-70%);
    font-size: 12px;
  }